* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: $header1;
  font-weight: 800;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

h4,
h5 {
  font-size: $header4;
}

li,
button,
label,
input,
p,
a {
  font-size: $text;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $gray-text;
}

button {
  background: transparent;
  box-shadow: none;
  border: 0;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  color: black;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

.btn {
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  z-index: 10;
  letter-spacing: 0;

  .btn-content {
    color: black;
    background-color: white;
    width: 100%;
    font-size: $header4;
    padding: 1.5rem 3rem;
    font-weight: 800;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #bac0cc;
    }
  }
}

.btn-black {
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  z-index: 10;
  letter-spacing: 0;

  .btn-content {
    color: white;
    background-color: black;
    width: 100%;
    font-size: $header4;
    padding: 1.5rem 3rem;
    font-weight: 800;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2B2B2B;
    }
  }
}
