.martin {
  min-height: 80vh;
  position: relative;
  padding-top: 10vh;
  object-fit: cover;
  background-color: #161413;

  .martin-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    padding: 0 10rem;

    .martin-image {
      width: 400px;
      img {
        object-fit: cover;
        width: 100%;
        // height: 500px;
      }
    }

    .signature {
      position: relative;
      padding: 2rem;
      max-width: calc(40vw + 4px);
      background-color: goldenrod;

      h3 {
        color: white;
        display: inline;
        &::after {
          content: "-";
          display: inline-block;
          width: 4rem;
          margin-left: 2rem;
        }
      }

      .autograph {
        display: inline-block;
      }
    }
  }
}
