.top-releases {
  min-height: 100vh;
  position: relative;
  .scroll-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;

    .top-releases-header {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 10vh;
      margin-bottom: 10rem;
      padding: 0 10rem;

      .left {
        h2 {
          font-size: $header2;
          text-transform: uppercase;
        }

        .btn-black {
          font-size: $header4;
          background: transparent;
          box-shadow: none;
          border: 0;
          outline: none;
          cursor: pointer;
          display: inline-flex;
          color: black;
          background-color: white;
          text-transform: uppercase;
          text-align: center;
          cursor: pointer;
          z-index: 10;
        }
      }

      .description-wrapper {
        max-width: 55rem;
        margin-left: 10rem;
        padding: 3rem;
        background-color: white;

        p {
          font-size: $header4;
          font-weight: 400;
        }
      }
    }

    .inner-scroll-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;

      .top-releases-row {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .release {
          max-width: max-content;
          position: relative;
          margin: 0 8rem 6rem;
          flex: 1 1 20rem;
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
          cursor: pointer;

          &::before {
            content: "";
            background-image: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 64.06%,
              #161616 100%
            );
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 1;
          }

          .controls {
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 10;
            text-align: center;
            padding: 0 1rem 1rem;
            overflow: hidden;

            .release-info {
              text-align: left;
              text-transform: uppercase;
              color: white;
            }
          }
        }
      }
    }
  }

  img {
    width: 400px;
    object-fit: cover;
  }

  .pattern {
    background-image: url("../images/pattern-gray.svg");
    background-repeat: repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 52.85%,
        white 92.5%
      );
      z-index: -1;
    }
  }
}
