.top-releases {
  min-height: 100vh;
  .scroll-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-releases-header {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 10vh;
      margin-bottom: 10rem;
      padding: 0 10rem;

      .left {
        h2 {
          font-size: $header2;
          text-transform: uppercase;
        }

        .btn-black {
          font-size: $header4;
          background: transparent;
          box-shadow: none;
          border: 0;
          outline: none;
          cursor: pointer;
          display: inline-flex;
          color: black;
          background-color: white;
          text-transform: uppercase;
          text-align: center;
          cursor: pointer;
          z-index: 10;
        }
      }

      .description-wrapper {
        max-width: 55rem;
        padding-top: 2rem;
        padding-left: 12rem;

        p {
          font-size: $header4;
          font-weight: 400;
        }
      }
    }

    .inner-scroll-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;

      .top-releases-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .release {
          padding: 0 4rem;
        }
      }
    }
  }

  img {
    width: 300px;
  }
}
