* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 10rem;
  font-weight: 800;
}

h2 {
  font-size: 6.4rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2rem;
}

li,
button,
label,
input,
p,
a {
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

img {
  display: block;
}

button {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  outline: none;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: black;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

.btn {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  z-index: 10;
  letter-spacing: 0;
}

.btn .btn-content {
  color: black;
  background-color: white;
  width: 100%;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  font-weight: 800;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.btn .btn-content:hover {
  background-color: #bac0cc;
}

.btn-black {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  z-index: 10;
  letter-spacing: 0;
}

.btn-black .btn-content {
  color: white;
  background-color: black;
  width: 100%;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  font-weight: 800;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.btn-black .btn-content:hover {
  background-color: #2B2B2B;
}

.navigation {
  position: fixed;
  z-index: 20;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 48px;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}

.navigation .home-button {
  pointer-events: all;
}

.navigation .navigation-btn {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  pointer-events: all;
}

.navigation .navigation-btn .icon {
  height: 32px;
  width: 32px;
  position: relative;
  margin-right: 8px;
}

.navigation .navigation-btn .icon span {
  background-color: white;
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
}

.navigation .navigation-btn .icon span:nth-child(1) {
  top: 5px;
}

.navigation .navigation-btn .icon span:nth-child(2) {
  top: 20px;
}

.navigation .navigation-btn .menu-text {
  font-weight: 800;
  line-height: 48px;
  font-size: 3rem;
}

.hero {
  z-index: 10;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  background: black;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 15%;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 17, 22, 0)), to(rgba(15, 17, 22, 0.8)));
  background: linear-gradient(180deg, rgba(15, 17, 22, 0) 0%, rgba(15, 17, 22, 0.8) 100%);
}

.hero .hero-img {
  bottom: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  z-index: -10;
}

.hero .hero-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  pointer-events: none;
}

.hero .hero-info {
  margin-bottom: 10vh;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.hero .hero-info .hero-info-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  margin-bottom: 1rem;
}

.hero .hero-info .hero-info-head h3 {
  letter-spacing: 0.3rem;
}

.hero .scroll-indicator {
  height: 100%;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
  z-index: 11;
}

.hero .scroll-indicator p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.hero .scroll-indicator .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .scroll-indicator .icons .icon-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.top-releases {
  min-height: 100vh;
  position: relative;
}

.top-releases .scroll-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10vh;
}

.top-releases .scroll-wrapper .top-releases-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10vh;
  margin-bottom: 10rem;
  padding: 0 10rem;
}

.top-releases .scroll-wrapper .top-releases-header .left h2 {
  font-size: 6.4rem;
  text-transform: uppercase;
}

.top-releases .scroll-wrapper .top-releases-header .left .btn-black {
  font-size: 2rem;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  outline: none;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: black;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

.top-releases .scroll-wrapper .top-releases-header .description-wrapper {
  max-width: 55rem;
  margin-left: 10rem;
  padding: 3rem;
  background-color: white;
}

.top-releases .scroll-wrapper .top-releases-header .description-wrapper p {
  font-size: 2rem;
  font-weight: 400;
}

.top-releases .scroll-wrapper .inner-scroll-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-releases .scroll-wrapper .inner-scroll-wrapper .top-releases-row {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-releases .scroll-wrapper .inner-scroll-wrapper .top-releases-row .release {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
  margin: 0 8rem 6rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.top-releases .scroll-wrapper .inner-scroll-wrapper .top-releases-row .release::before {
  content: "";
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(64.06%, rgba(0, 0, 0, 0)), to(#161616));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.06%, #161616 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.top-releases .scroll-wrapper .inner-scroll-wrapper .top-releases-row .release .controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
  text-align: center;
  padding: 0 1rem 1rem;
  overflow: hidden;
}

.top-releases .scroll-wrapper .inner-scroll-wrapper .top-releases-row .release .controls .release-info {
  text-align: left;
  text-transform: uppercase;
  color: white;
}

.top-releases img {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-releases .pattern {
  background-image: url("../images/pattern-gray.svg");
  background-repeat: repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.top-releases .pattern::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(52.85%, rgba(255, 255, 255, 0)), color-stop(92.5%, white));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 52.85%, white 92.5%);
  z-index: -1;
}

.martin {
  min-height: 80vh;
  position: relative;
  padding-top: 10vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #161413;
}

.martin .martin-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
  padding: 0 10rem;
}

.martin .martin-wrapper .martin-image {
  width: 400px;
}

.martin .martin-wrapper .martin-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.martin .martin-wrapper .signature {
  position: relative;
  padding: 2rem;
  max-width: calc(40vw + 4px);
  background-color: goldenrod;
}

.martin .martin-wrapper .signature h3 {
  color: white;
  display: inline;
}

.martin .martin-wrapper .signature h3::after {
  content: "-";
  display: inline-block;
  width: 4rem;
  margin-left: 2rem;
}

.martin .martin-wrapper .signature .autograph {
  display: inline-block;
}

@media screen and (max-width: 1335px) {
  html {
    font-size: 53%;
  }
  .top-releases .scroll-wrapper .inner-scroll-wrapper .top-releases-row {
    width: 100%;
  }
  .top-releases img {
    width: 300px;
  }
  .top-releases-row {
    width: 10%;
  }
}

@media screen and (max-width: 755px) {
  html {
    font-size: 45%;
  }
  .hero-img {
    left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */