* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 10rem;
  font-weight: 800;
}

h2 {
  font-size: 6.4rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2rem;
}

li,
button,
label,
input,
p,
a {
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

button {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  outline: none;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: black;
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

.navigation {
  position: fixed;
  z-index: 20;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 48px;
  left: 0;
  right: 0;
}

.navigation .navigation-btn {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

.navigation .navigation-btn .icon {
  height: 32px;
  width: 32px;
  position: relative;
  margin-right: 8px;
}

.navigation .navigation-btn .icon span {
  background-color: white;
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
}

.navigation .navigation-btn .icon span:nth-child(1) {
  top: 5px;
}

.navigation .navigation-btn .icon span:nth-child(2) {
  top: 20px;
}

.navigation .navigation-btn .menu-text {
  font-weight: 800;
  line-height: 48px;
  font-size: 3rem;
}

.hero {
  z-index: 10;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  background: black;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 15%;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 17, 22, 0)), to(rgba(15, 17, 22, 0.8)));
  background: linear-gradient(180deg, rgba(15, 17, 22, 0) 0%, rgba(15, 17, 22, 0.8) 100%);
}

.hero .hero-img {
  bottom: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  z-index: -10;
}

.hero .hero-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  pointer-events: none;
}

.hero .hero-info {
  margin-bottom: 10vh;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.hero .hero-info .hero-info-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.hero .hero-info .hero-info-head h3 {
  letter-spacing: 0.3rem;
}

.hero .hero-info .btn {
  color: black;
  background-color: white;
  margin-top: 30px;
  z-index: 10;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.hero .hero-info .btn .btn-content {
  width: 100%;
  font-size: 2rem;
  padding: 1.5rem 3.2rem;
  font-weight: 800;
}

.hero .hero-info .btn:hover {
  background-color: #bac0cc;
}

.hero .scroll-indicator {
  height: 100%;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
  z-index: 11;
}

.hero .scroll-indicator p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.hero .scroll-indicator .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .scroll-indicator .icons .icon-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.top-releases {
  min-height: 100vh;
}

.top-releases .scroll-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-releases .scroll-wrapper .top-releases-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh;
  padding: 0 10rem;
}

.top-releases .scroll-wrapper .top-releases-header h2 {
  font-size: 6.4rem;
  text-transform: uppercase;
}

.top-releases .scroll-wrapper .top-releases-header a {
  font-size: 2rem;
}

.top-releases .scroll-wrapper .top-releases-header .description-wrapper {
  max-width: 55rem;
  padding-left: 8rem;
}

.top-releases .scroll-wrapper .top-releases-header .description-wrapper p {
  font-size: 2rem;
}

.top-releases .scroll-wrapper .inner-scroll-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.top-releases .scroll-wrapper .inner-scroll-wrapper .top-releases-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-releases .scroll-wrapper .inner-scroll-wrapper .top-releases-row .release {
  padding: 0 4rem;
}

.top-releases img {
  width: 300px;
}
/*# sourceMappingURL=styles.css.map */