$header1: 10rem;
$header2: 4.5rem;
$header3: 3rem;
$header4: 2rem;
$text: 1.8rem;
$gradient: linear-gradient(to right, #38D39F, #38A4D3);
$background-color: #154353;
$gray-text: #2c2c2c;


@import "global";
@import "nav";
@import "hero";
@import "top-releases";