$header1: 10rem;
$header2: 6.4rem;
$header3: 3rem;
$header4: 2rem;
$text: 1.8rem;
$gradient: linear-gradient(to right, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@import "global";
@import "nav";
@import "hero";
@import "top-releases";

// Mobile Tablet
@media screen and (max-width: 1335px) {
  html {
    font-size: 53%;
  }

  .top-releases {
    .scroll-wrapper {
      .inner-scroll-wrapper {
        .top-releases-row {
            width: 100%;
        }
      }
    }

    img {
        width: 300px;
    }
  }

  .top-releases-row {
    width: 10%;
  }
}
